[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
scipy = "*"
sklearn = "*"
tenacity = "*"
scikit-learn = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
